<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{65,47}</string>
                <key>spriteSourceSize</key>
                <string>{83,63}</string>
                <key>textureRect</key>
                <string>{{4,1},{65,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,1},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,420}</string>
                <key>spriteSourceSize</key>
                <string>{489,420}</string>
                <key>textureRect</key>
                <string>{{1,50},{489,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,450}</string>
                <key>spriteSourceSize</key>
                <string>{491,450}</string>
                <key>textureRect</key>
                <string>{{1,472},{491,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{493,923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:027d88c59cf6e42eb787e44806a821b6:8ec08c8ebdc2ad584d1c18c3da3bbb37:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
